[Unit]
Description=X-Road Metrics Corrector
After=multi-user.target

[Service]
User=xroad-metrics
Group=xroad-metrics
WorkingDirectory=/tmp
ExecStart=/usr/bin/xroad-metrics-correctord

[Install]
WantedBy=multi-user.target
